:root {
  /* alwaysdata Relearn theme customizations */
  --LOGO-IMAGE-width: 2rem;
  --PRIMARY-color: rgba( 233, 86, 142, 1 ); /* brand primary color */
  --SECONDARY-color: rgba( 207, 74, 125, 1 ); /* brand secondary color */
  --ACCENT-color: rgb( 255, 102, 78 ); /* brand accent color, used for search highlights */
  --MAIN-LINK-HOVER-color: rgba( 233, 86, 142, 1 ); /* hoverd link color of content */
  --MAIN-BG-color: rgba( 255, 255, 255, 1 ); /* background color of content */
  --MAIN-TEXT-color: rgba( 0, 0, 0, 1 ); /* text color of content and h1 titles */
  --MAIN-TITLES-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of h2-h6 titles and transparent box titles */
  --CODE-theme: relearn-light; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba( 39, 40, 34, 1 ); /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: rgba( 250, 250, 250, 1 ); /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: rgba( 216, 216, 216, 1 ); /* border color of block code */
  --CODE-INLINE-color: rgba( 94, 94, 94, 1 ); /* text color of inline code */
  --CODE-INLINE-BG-color: rgba( 255, 250, 233, 1 ); /* background color of inline code */
  --CODE-INLINE-BORDER-color: rgba( 248, 232, 200, 1 ); /* border color of inline code */
  --BROWSER-theme: light; /* name of the theme for browser scrollbars of the main section */
  --MERMAID-theme: default; /* name of the default Mermaid theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-theme: light; /* name of the default OpenAPI theme for this variant, can be overridden in hugo.toml */
  --OPENAPI-CODE-theme: idea; /* name of the default OpenAPI code theme for this variant, can be overridden in hugo.toml */
  --MENU-HEADER-color: rgba( 255, 255, 255, 1 ); /* color of menu header */
  --MENU-HEADER-BG-color: rgba( 233, 86, 142, 1 ); /* color of menu header */
  --MENU-HOME-LINK-HOVER-color: rgba( 0, 0, 0, 1 ); /* hoverd home button color if configured */
  --MENU-SEARCH-color: rgba( 0, 0, 0, 1 ); /* text and icon color of search box */
  --MENU-SEARCH-BG-color: rgba( 255, 255, 255, 1 ); /* background color of search box */
  --MENU-SEARCH-BORDER-color: rgba( 224, 224, 224, 1 ); /* border color of search box */
  --MENU-SECTIONS-BG-color: rgba( 207, 74, 125, 1 ); /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
  --MENU-SECTIONS-ACTIVE-BG-color: rgba( 255, 255, 255, 0.2 ); /* background color of the active menu section */
  --MENU-SECTIONS-LINK-color: rgba( 255, 255, 255, 1 ); /* link color of menu topics */
  --MENU-SECTIONS-LINK-HOVER-color: rgba( 255, 255, 255, 1 ); /* hoverd link color of menu topics */
  --MENU-SECTION-ACTIVE-CATEGORY-color: rgba( 68, 68, 68, 1 ); /* text color of the displayed menu topic */
  --MENU-SECTION-SEPARATOR-color: rgba( 255, 255, 255, 1 ); /* separator color between menu sections and menu footer */
  --BOX-CAPTION-color: rgba( 255, 255, 255, 1 ); /* text color of colored box titles */
  --BOX-BG-color: rgba( 255, 255, 255, .833 ); /* background color of colored boxes */
  --BOX-TEXT-color: rgba( 16, 16, 16, 1 ); /* text color of colored box content */
  --MAIN-font: "Open Sans", sans-serif;
  --MAIN-font-weight: 400;
}

#R-logo {
  display: block;
  margin-top: 0.7em;
}

#R-logo svg { max-width: 12rem; }

.logo-title {
  display: none;
}

.topbar-control {
  color: var(--PRIMARY-color);
  background-color: transparent;
  border-right: 0;
  border-left: 0;
}

h1 {
  font-family: Clan-Pro-Medium;
  padding-bottom: 1rem;
  margin: 1rem 0 3rem;
  font-size: 2.25rem;
}

#R-sidebar .nav-title {
  font-size: 1.2rem;
}

#R-body figure {
  margin: 3rem 1rem;
  padding: 0.7rem;
}

#R-body figure img {
  margin: 0 auto;
  margin-bottom: 1rem;
}

#R-body figure figcaption {
  position: relative;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
}

#R-body figcaption::before {
  display: block;
  content: "";
  background-color: var(--MENU-HEADER-BG-color);
  margin: 0 30% 1rem;
  border-radius: 2px;
  height: 2px;
  width: 40%;
}

.box {
  border-radius: 3px;
}

hr {
  border-bottom: 4px solid var(--MENU-HEADER-BG-color);
}
