ErrorDocument 404 /en/404.html

### Redirect based on locales
RewriteEngine On

# Rewriting url for FR
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^love/?$  /fr/love/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_love/?$  /fr/love/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^aac/?$   /fr/comptes/programmes/academic-cloud/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_aac/?$   /fr/comptes/programmes/academic-cloud/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^cloud/?$ /fr/comptes/facturation/prix-cloud-public/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_cloud/?$ /fr/comptes/facturation/prix-cloud-public/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_private_prices/?$ /fr/comptes/facturation/prix-cloud-prive/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_alerts/?$ /fr/comptes/systeme-dalertes/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_migrations/?$ /fr/avance/migrations/effectuer-une-migration/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_tickets/?$ /fr/comptes/ticket-urgent/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_domains/?$ /fr/domaines/problemes-frequents/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^marketplace-script/?$ /fr/marketplace/creer-script-dapplication/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^log-http/?$ /fr/sites/formater-les-logs-http/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^/?$ /fr/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^green/?$  /fr/green-hosting/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^api/?$  /fr/api/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^signin-issues/?$  /fr/comptes/perte-dacces-admin/ [QSA,L,R=307]

# Rewriting url for all languages (EN default)
RewriteRule ^love/?$  /en/love/ [QSA,L,R=307]
RewriteRule ^_love/?$  /en/love/ [QSA,L,R=307]
RewriteRule ^aac/?$   /en/accounts/programs/academic-cloud/ [QSA,L,R=307]
RewriteRule ^_aac/?$   /en/accounts/programs/academic-cloud/ [QSA,L,R=307]
RewriteRule ^cloud/?$ /en/accounts/billing/public-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_cloud/?$ /en/accounts/billing/public-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_private_prices/?$ /en/accounts/billing/private-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_alerts/?$ /en/accounts/alerts-notifications/ [QSA,L,R=307]
RewriteRule ^_migrations/?$ /en/advanced/migrations/perform-migration/ [QSA,L,R=307]
RewriteRule ^_tickets/?$ /en/accounts/urgent-ticket/ [QSA,L,R=307]
RewriteRule ^_domains/?$ /en/domains/troubleshooting/ [QSA,L,R=307]
RewriteRule ^marketplace-script/?$ /en/marketplace/build-application-script/ [QSA,L,R=307]
RewriteRule ^log-http/?$ /en/sites/formatting-http-logs/ [QSA,L,R=307]
RewriteRule ^green/?$  /en/green-hosting/ [QSA,L,R=307]
RewriteRule ^api/?$  /en/api/ [QSA,L,R=307]
RewriteRule ^signin-issues/?$  /en/accounts/admin-access-loss/ [QSA,L,R=307]

## Redirects remove accents (2024 migration mails and API)
Redirect 301 /fr/avancé/migrations/architecture-logicielle-2024/#arrêt-du-support-de-mongodb /fr/avance/migrations/architecture-logicielle-2024/#arrêt-du-support-de-mongodb
Redirect 301 /fr/avancé/migrations/architecture-logicielle-2024/ /fr/avance/migrations/architecture-logicielle-2024/
Redirect 301 /fr/avancé/migrations/effectuer-une-migration-vps-ou-dédié/déroulement-migrations-obligatoires/ /fr/avance/migrations/migration-cloud-prive/deroulement-migrations-obligatoires/
Redirect 301 /fr/avancé/migrations/effectuer-une-migration-vps-ou-dédié/ /fr/avance/migrations/migration-cloud-prive/
Redirect 301 /fr/sécurité/authentification-2-facteurs/ /fr/securite/authentification-2-facteurs/

## Redirect old site menu
Redirect 301 /en/databases/mariadb-mysql/                      /en/databases/mariadb/
Redirect 301 /fr/bases-de-données/mariadb-mysql/               /fr/bases-de-donnees/mariadb/
Redirect 301 /fr/bases-de-données/postgresql/               /fr/bases-de-donnees/postgresql/
Redirect 301 /fr/bases-de-données/rabbitmq/               /fr/bases-de-donnees/rabbitmq/
Redirect 301 /fr/bases-de-données/redis/               /fr/bases-de-donnees/redis/
Redirect 301 /fr/bases-de-données/memcached/               /fr/bases-de-donnees/memcached/
Redirect 301 /fr/tâches-planifiées/            /fr/taches-planifiees/
