ErrorDocument 404 /en/404.html

### Redirect based on locales
RewriteEngine On

# Rewriting url for FR
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^love/?$  /fr/love/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_love/?$  /fr/love/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^aac/?$   /fr/comptes/programmes/academic-cloud/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_aac/?$   /fr/comptes/programmes/academic-cloud/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^cloud/?$ /fr/comptes/facturation/prix-cloud-public/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_cloud/?$ /fr/comptes/facturation/prix-cloud-public/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_private_prices/?$ /fr/comptes/facturation/prix-cloud-privé/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_alerts/?$ /fr/comptes/système-d-alertes/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_migrations/?$ /fr/avancé/migrations/effectuer-une-migration/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_tickets/?$ /fr/comptes/ticket-urgent/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_domains/?$ /fr/domaines/problèmes-fréquents/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^marketplace-script/?$ /fr/marketplace/créer-son-script-d-application/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^log-http/?$ /fr/sites/formater-les-logs-http/ [QSA,L,R=307]

# Rewriting url for all languages (EN default)
RewriteRule ^love/?$  /en/love/ [QSA,L,R=307]
RewriteRule ^_love/?$  /en/love/ [QSA,L,R=307]
RewriteRule ^aac/?$   /en/accounts/programs/academic-cloud/ [QSA,L,R=307]
RewriteRule ^_aac/?$   /en/accounts/programs/academic-cloud/ [QSA,L,R=307]
RewriteRule ^cloud/?$ /en/accounts/billing/public-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_cloud/?$ /en/accounts/billing/public-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_private_prices/?$ /en/accounts/billing/private-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_alerts/?$ /en/accounts/alerts-notifications/ [QSA,L,R=307]
RewriteRule ^_migrations/?$ /en/advanced/migrations/perform-migration/ [QSA,L,R=307]
RewriteRule ^_tickets/?$ /en/accounts/urgent-ticket/ [QSA,L,R=307]
RewriteRule ^_domains/?$ /en/domains/troubleshooting/ [QSA,L,R=307]
RewriteRule ^marketplace-script/?$ /en/marketplace/build-application-script/ [QSA,L,R=307]
RewriteRule ^log-http/?$ /en/sites/formatting-http-logs/ [QSA,L,R=307]

### v1 Redirects
Redirect 301 /ticket-urgent                                    /en/accounts/urgent-ticket/
Redirect 301 /advanced-development/backup                      /en/backups/
Redirect 301 /advanced-development/htaccess                    /en/sites/htaccess-file/
Redirect 301 /advanced-development/mercurial-hgweb             /en/
Redirect 301 /advanced-development/processes-analysis          /en/sites/analyze-processes/
Redirect 301 /advanced-development/redis                       /en/databases/redis/
Redirect 301 /advanced-development/scheduled-tasks             /en/tasks/
Redirect 301 /advanced-development                             /en/
Redirect 301 /api/references/account                           /en/api/resources/
Redirect 301 /api/references/database                          /en/api/resources/
Redirect 301 /api/references/database-user                     /en/api/resources/
Redirect 301 /api/references/datacenter                        /en/api/resources/
Redirect 301 /api/references/domain                            /en/api/resources/
Redirect 301 /api/references/domain-record                     /en/api/resources/
Redirect 301 /api/references/elixir-environment                /en/api/resources/
Redirect 301 /api/references/firewall-rule                     /en/api/resources/
Redirect 301 /api/references/ftp-user                          /en/api/resources/
Redirect 301 /api/references/ip                                /en/api/resources/
Redirect 301 /api/references/job                               /en/api/resources/
Redirect 301 /api/references/mailbox                           /en/api/resources/
Redirect 301 /api/references/mailbox-rule                      /en/api/resources/
Redirect 301 /api/references/nodejs-environment                /en/api/resources/
Redirect 301 /api/references/php-environment                   /en/api/resources/
Redirect 301 /api/references/product                           /en/api/resources/
Redirect 301 /api/references/python-environment                /en/api/resources/
Redirect 301 /api/references/ruby-environment                  /en/api/resources/
Redirect 301 /api/references/server                            /en/api/resources/
Redirect 301 /api/references/site                              /en/api/resources/
Redirect 301 /api/references/ssh                               /en/api/resources/
Redirect 301 /api/references/ssl                               /en/api/resources/
Redirect 301 /api/references/subdomain                         /en/api/resources/
Redirect 301 /api/references/subscription                      /en/api/resources/
Redirect 301 /api/references/webdav                            /en/api/resources/
Redirect 301 /api/references                                   /en/api/resources/
Redirect 301 /api/usage/examples                               /en/api/usage/
Redirect 301 /api/usage/introduction                           /en/api/usage/
Redirect 301 /api/usage/request                                /en/api/usage/
Redirect 301 /api/usage                                        /en/api/usage/
Redirect 301 /api/                                             /en/api/
Redirect 301 /general-topics/misc/alerts                       /en/accounts/alerts-notifications/
Redirect 301 /general-topics/misc/contribute                   /en/
Redirect 301 /general-topics/misc/legale-obligations           /en/accounts/legal-requirements-on-internet/
Redirect 301 /general-topics/misc                              /en/
Redirect 301 /getting-started/connection-information           /en/remote-access/login-details/
Redirect 301 /getting-started/first-steps                      /en/
Redirect 301 /getting-started/free-plan-restrictions           /en/accounts/free-pack-restrictions/
Redirect 301 /getting-started/restricted-mode                  /en/security/restricted-mode/
Redirect 301 /getting-started                                  /en/
Redirect 301 /languages/nodejs/quick-start                     /en/languages/nodejs/
Redirect 301 /languages/nodejs                                 /en/languages/nodejs/
Redirect 301 /languages/php/extensions                         /en/languages/php/extensions/
Redirect 301 /languages/php/ini-file                           /en/languages/php/configuration/
Redirect 301 /languages/php/packages                           /en/languages/php/packages/
Redirect 301 /languages/php                                    /en/languages/php/
Redirect 301 /languages/php/quick-start                        /en/languages/php/
Redirect 301 /languages/python/django                          /en/languages/python/django/
Redirect 301 /languages/python/packages                        /en/languages/python/configuration/
Redirect 301 /languages/python/quick-start                     /en/languages/python/
Redirect 301 /languages/python                                 /en/languages/python/
Redirect 301 /languages/ruby/packages                          /en/languages/ruby/configuration/
Redirect 301 /languages/ruby/quick-start                       /en/languages/ruby/
Redirect 301 /languages/ruby/ruby-on-rails                     /en/languages/ruby/ruby-on-rails/
Redirect 301 /languages/ruby                                   /en/languages/ruby/
Redirect 301 /languages                                        /en/languages/
Redirect 301 /migrations/couchdb-2.2                           /en/advanced/migrations/couchdb-2.2/
Redirect 301 /migrations/mariadb-10.2                          /en/advanced/migrations/mariadb-10.3/
Redirect 301 /migrations/mariadb-10.3                          /en/advanced/migrations/mariadb-10.3/
Redirect 301 /migrations/migration-management                  /en/advanced/migrations/perform-migration/
Redirect 301 /migrations/mongodb-4                             /en/advanced/migrations/
Redirect 301 /migrations/postgresql-10                         /en/advanced/migrations/postgresql-10/
Redirect 301 /migrations/postgresql-12                         /en/advanced/migrations/postgresql-12/
Redirect 301 /migrations/software-2017                         /en/advanced/migrations/2017-software-architecture/
Redirect 301 /migrations                                       /en/advanced/migrations/
Redirect 301 /my-account/account/delete                        /en/accounts/delete-an-account/
Redirect 301 /my-account/account/files                         /en/remote-access/
Redirect 301 /my-account/account/suspended                     /en/accounts/suspension/
Redirect 301 /my-account/account                               /en/accounts/
Redirect 301 /my-account/billing/affiliation                   /en/accounts/billing/sponsorship/
Redirect 301 /my-account/billing/payment-methods               /en/accounts/billing/payment-methods/
Redirect 301 /my-account/billing/pay-my-invoice                /en/accounts/billing/
Redirect 301 /my-account/billing                               /en/accounts/billing/
Redirect 301 /my-account/databases/add-database                /en/databases/
Redirect 301 /my-account/databases/couchdb                     /en/databases/couchdb/
Redirect 301 /my-account/databases/faq                         /en/databases/troubleshooting/
Redirect 301 /my-account/databases/mongo                       /en/databases/
Redirect 301 /my-account/databases/mongodb-php                 /en/databases/
Redirect 301 /my-account/databases/mysql                       /en/databases/mariadb/
Redirect 301 /my-account/databases/postgresql                  /en/databases/postgresql/
Redirect 301 /my-account/databases                             /en/databases/
Redirect 301 /my-account/domain/add-domain                     /en/domains/add-dns/
Redirect 301 /my-account/domain/add-subdomain                  /en/domains/add-dns/
Redirect 301 /my-account/domain/catch-all                      /en/sites/catch-all/
Redirect 301 /my-account/domain/delegate-subdomain             /en/domains/delegate-a-subdomain/
Redirect 301 /my-account/domain/delete-domain                  /en/domains/delete-dns/
Redirect 301 /my-account/domain/external-domain                /en/domains/add-an-external-domain/
Redirect 301 /my-account/domain/tld-rules                      /en/domains/extensions-rules/
Redirect 301 /my-account/domain                                /en/domains/
Redirect 301 /my-account/emails/check-mailbox                  /en/e-mails/use-an-e-mail-address/
Redirect 301 /my-account/emails/create-mailbox                 /en/e-mails/create-an-e-mail-address/
Redirect 301 /my-account/emails/deliverability                 /en/e-mails/delivery/
Redirect 301 /my-account/emails/mail-client-configuration      /en/e-mails/
Redirect 301 /my-account/emails                                /en/e-mails/
Redirect 301 /my-account/ftp/connect                           /en/remote-access/ftp/
Redirect 301 /my-account/ftp                                   /en/remote-access/ftp/
Redirect 301 /my-account/sites/add-site                        /en/sites/add-a-site/
Redirect 301 /my-account/sites/apache-custom                   /en/sites/apache-custom/
Redirect 301 /my-account/sites/application-installation-script /en/marketplace/
Redirect 301 /my-account/sites/connection-to-upstream          /en/sites/connection-to-upstream/
Redirect 301 /my-account/sites/deactivate-site                 /en/sites/deactivate-a-site/
Redirect 301 /my-account/sites/error-pages                     /en/sites/custom-error-pages/
Redirect 301 /my-account/sites/http-access-logs-customization  /en/sites/formatting-http-logs/
Redirect 301 /my-account/sites/probe                           /en/sites/use-probes/
Redirect 301 /my-account/sites/redirection                     /en/sites/redirect/
Redirect 301 /my-account/sites/site-transfer                   /en/sites/transfer-in-out/
Redirect 301 /my-account/sites/waf-usage                       /en/sites/waf/
Redirect 301 /my-account/sites                                 /en/sites/
Redirect 301 /my-account/ssh/add-user                          /en/remote-access/ssh/create-a-ssh-user/
Redirect 301 /my-account/ssh/connect                           /en/remote-access/ssh/
Redirect 301 /my-account/ssh/connect-with-public-key           /en/remote-access/ssh/use-keys/
Redirect 301 /my-account/ssh/sftp                              /en/remote-access/ssh/
Redirect 301 /my-account/ssh                                   /en/remote-access/ssh/
Redirect 301 /my-account/ssl                                   /en/security/ssl-tls/
Redirect 301 /my-account/user-permissions                      /en/accounts/permissions/
Redirect 301 /my-account/webdav/connect                        /en/remote-access/webdav/
Redirect 301 /my-account/webdav                                /en/remote-access/webdav/
Redirect 301 /popular-applications/prestashop                  /en/marketplace/prestashop/
Redirect 301 /popular-applications/wordpress                   /en/marketplace/wordpress/
Redirect 301 /popular-applications                             /en/marketplace/

### Catalyst redirects
Redirect 301 /en/accounts/cloud-restrictions/                  /en/accounts/public-cloud-restrictions/
Redirect 301 /en/accounts/billing/catalyst-prices/             /en/accounts/billing/private-cloud-prices/
Redirect 301 /fr/comptes/facturation/prix-catalyst/            /fr/comptes/facturation/prix-cloud-privé/
Redirect 301 /en/accounts/billing/cloud-prices/                /en/accounts/billing/public-cloud-prices/
Redirect 301 /fr/comptes/facturation/prix-cloud/               /fr/comptes/facturation/prix-cloud-public/

### Other redirects
Redirect 301 /fr/applithèque/                                  /fr/marketplace/
Redirect 301 /en/databases/mariadb-mysql/                      /en/databases/mariadb/
Redirect 301 /fr/bases-de-données/mariadb-mysql/               /fr/bases-de-données/mariadb/
Redirect 301 /fr/comptes/support/restrictions-du-cloud-public/ /fr/comptes/restrictions-du-cloud-public/
Redirect 301 /fr/sites/utiliser-le-pare-feu-applicatif_waf/    /fr/sites/waf/utiliser-le-waf/
Redirect 301 /fr/sites/utiliser-le-cache-http/                 /fr/sites/cache-http/utiliser-le-cache-http/
Redirect 301 /en/sites/use-waf/                                /en/sites/waf/use-waf/
Redirect 301 /en/sites/use-http-cache/                         /en/sites/http-cache/use-http-cache/
Redirect 301 /fr/sécurité/réseau/configurer-son-pare-feu/      /fr/sécurité/réseau/configurer-le-firewall/
