ErrorDocument 404 /en/404.html

### Redirect based on locales
RewriteEngine On

# Rewriting url for FR
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^love/?$  /fr/love/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_love/?$  /fr/love/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^aac/?$   /fr/admin-facturation/programmes/academic-cloud/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_aac/?$   /fr/admin-facturation/programmes/academic-cloud/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^cloud/?$ /fr/admin-facturation/facturation/prix-cloud-public/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_cloud/?$ /fr/admin-facturation/facturation/prix-cloud-public/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_private_prices/?$ /fr/admin-facturation/facturation/prix-cloud-prive/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_alerts/?$ /fr/admin-facturation/profil/systeme-dalertes/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_migrations/?$ /fr/caracteristiques-techniques/migrations/effectuer-une-migration/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_tickets/?$ /fr/admin-facturation/ticket-urgent/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^_domains/?$ /fr/domaines/problemes-frequents/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^marketplace-script/?$ /fr/developpement/marketplace/creer-script-dapplication/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^log-http/?$ /fr/hebergement-web/sites/formater-les-logs-http/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^/?$ /fr/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^green/?$  /fr/caracteristiques-techniques/green-hosting/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^api/?$  /fr/developpement/api/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^signin-issues/?$  /fr/admin-facturation/profil/perte-dacces-admin/ [QSA,L,R=307]
RewriteCond %{HTTP:Accept-Language} ^fr [NC]
RewriteRule ^bug-bounty/?$  /fr/caracteristiques-techniques/bug-bounty/ [QSA,L,R=307]


# Rewriting url for all languages (EN default)
RewriteRule ^love/?$  /en/love/ [QSA,L,R=307]
RewriteRule ^_love/?$  /en/love/ [QSA,L,R=307]
RewriteRule ^aac/?$   /en/admin-billing/programs/academic-cloud/ [QSA,L,R=307]
RewriteRule ^_aac/?$   /en/admin-billing/programs/academic-cloud/ [QSA,L,R=307]
RewriteRule ^cloud/?$ /en/admin-billing/billing/public-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_cloud/?$ /en/admin-billing/billing/public-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_private_prices/?$ /en/admin-billing/billing/private-cloud-prices/ [QSA,L,R=307]
RewriteRule ^_alerts/?$ /en/admin-billing/profile/alerts-notifications/ [QSA,L,R=307]
RewriteRule ^_migrations/?$ /en/technical-specifications/migrations/perform-migration/ [QSA,L,R=307]
RewriteRule ^_tickets/?$ /en/admin-billing/urgent-ticket/ [QSA,L,R=307]
RewriteRule ^_domains/?$ /en/domains/troubleshooting/ [QSA,L,R=307]
RewriteRule ^marketplace-script/?$ /en/development/marketplace/build-application-script/ [QSA,L,R=307]
RewriteRule ^log-http/?$ /en/web-hosting/sites/formatting-http-logs/ [QSA,L,R=307]
RewriteRule ^green/?$  /en/technical-specifications/green-hosting/ [QSA,L,R=307]
RewriteRule ^api/?$  /en/developement/api/ [QSA,L,R=307]
RewriteRule ^signin-issues/?$  /en/admin-billing/profile/admin-access-loss/ [QSA,L,R=307]
RewriteRule ^bug-bounty/?$  /en/technical-specifications/bug-bounty/ [QSA,L,R=307]

## Redirects footer
Redirect 301 /fr/securite/bug-bounty/ /fr/caracteristiques-techniques/bug-bounty/
Redirect 301 /en/security/bug-bounty/ /en/technical-specifications/bug-bounty/

## Redirects install scripts
Redirect 301 /en/marketplace/build-application-script/ /en/development/marketplace/build-application-script/
