{{- partial "topbar/button/lang.html" (dict
	"page" .
)}}

{{- partial "topbar/func/button.html" (dict
	"page" .
	"class" "topbar-button-inscription"
	"href" (printf "%s" (T "RegisterURL"))
	"icon" "user-plus"
	"hint" (printf "%s" (T "Inscription"))
)}}
{{- partial "topbar/func/button.html" (dict
	"page" .
	"class" "topbar-button-login"
	"href" "https://admin.alwaysdata.com/"
	"icon" "sign-in-alt"
	"hint" (printf "%s" (T "Sign-in"))
)}}

{{- partial "topbar/button/edit.html" (dict
	"page" .
)}}
