---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---

# Sitemap shortcuts
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml

# Security
/security.txt /.well-known/security.txt 301
