{#- Left Sidebar - Navigation (sticky, inside container) -#}
<aside id="sidebar"
       class="hidden lg:block lg:w-64 lg:shrink-0">
    <nav class="sticky top-14 max-h-[calc(100vh-3.5rem)] overflow-y-auto py-6 pr-4">
        {% include 'partials/sidebar-nav.njk' %}
    </nav>
</aside>
